**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/*.userosscache
**/*.suo
**/Thumbs.db
**/.DS_Store
**/node_modules
**/*.md
!README.md
**/docker-compose*.yml
**/.dockerignore
**/Dockerfile*
